/resources/android/myAndroidIcon/
/resources/android/myAndroidSplash/
/resources/ios/myIosIcon/
/resources/ios/myIosSplash/
config.json
json_iconos.json
json_splash.json
logo.png
icono.png
mis_datos.txt
config.xml.log
.gitignore